@import url('https://fonts.googleapis.com/css?family=Anton');@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');@import url('https://fonts.googleapis.com/css?family=Anton');#disclaimer .main.container{display:block !important;position:relative !important;z-index:auto !important;}
#disclaimer .main > div{box-shadow:none !important;width:100%;line-height:inherit !important;background:transparent !important;text-align:justify !important;}
#disclaimer .main > div > div{color:#666 !important;background-size:contain;min-height:100px !important;background-position:center center !important;}
@media (max-width:767px){#disclaimer .main > div > div{width:100% !important;}
}
.uk-overflow-x-hidden{overflow-x:hidden;}
.atc-text-center{text-align:center;}
.atc-container{box-sizing:border-box;max-width:980px;padding:0 25px;}
@media (min-width:1220px){.atc-container{max-width:1200px;padding:0 35px;}
}
.atc-container:before,
.atc-container:after{content:"";display:table;}
.atc-container:after{clear:both;}
.atc-container-center{margin-left:auto;margin-right:auto;}
.atc-clearfix:before{content:"";display:table-cell;}
.atc-clearfix:after{content:"";display:table;clear:both;}
.atc-nbfc{overflow:hidden;}
.atc-nbfc-alt{display:table-cell;width:10000px;}
.atc-float-left{float:left;}
.atc-float-right{float:right;}
[class*='atc-float-']{max-width:100%;}
[class*='atc-align-']{display:block;margin-bottom:15px;}
.atc-align-left{margin-right:15px;float:left;}
.atc-align-right{margin-left:15px;float:right;}
@media (min-width:768px){.atc-align-medium-left{margin-right:15px;float:left;}
.atc-align-medium-right{margin-left:15px;float:right;}
}
.atc-align-center{margin-left:auto;margin-right:auto;}
.atc-vertical-align{font-size:0.001px;}
.atc-vertical-align:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.atc-vertical-align-middle,
.atc-vertical-align-bottom{display:inline-block;max-width:100%;font-size:1rem;}
.atc-vertical-align-middle{vertical-align:middle;}
.atc-vertical-align-bottom{vertical-align:bottom;}
[class*='atc-height']{box-sizing:border-box;}
.atc-height-1-1{height:100%;}
.atc-height-viewport{height:100vh;min-height:600px;}
.atc-responsive-width,
.atc-responsive-height{box-sizing:border-box;}
.atc-responsive-width{max-width:100% !important;height:auto;}
.atc-responsive-height{max-height:100%;width:auto;}
.atc-margin{margin-bottom:15px;}
* + .atc-margin{margin-top:15px;}
.atc-margin-top{margin-top:15px !important;}
.atc-margin-bottom{margin-bottom:15px !important;}
.atc-margin-left{margin-left:15px !important;}
.atc-margin-right{margin-right:15px !important;}
.atc-margin-large{margin-bottom:50px;}
* + .atc-margin-large{margin-top:50px;}
.atc-margin-large-top{margin-top:50px !important;}
.atc-margin-large-bottom{margin-bottom:50px !important;}
.atc-margin-large-left{margin-left:50px !important;}
.atc-margin-large-right{margin-right:50px !important;}
.atc-margin-small{margin-bottom:5px;}
* + .atc-margin-small{margin-top:5px;}
.atc-margin-small-top{margin-top:5px !important;}
.atc-margin-small-bottom{margin-bottom:5px !important;}
.atc-margin-small-left{margin-left:5px !important;}
.atc-margin-small-right{margin-right:5px !important;}
.atc-margin-remove{margin:0 !important;}
.atc-margin-top-remove{margin-top:0 !important;}
.atc-margin-bottom-remove{margin-bottom:0 !important;}
.atc-padding-remove{padding:0 !important;}
.atc-padding-top-remove{padding-top:0 !important;}
.atc-padding-bottom-remove{padding-bottom:0 !important;}
.atc-padding-vertical-remove{padding-top:0 !important;padding-bottom:0 !important;}
.atc-border-circle{border-radius:50%;}
.atc-border-rounded{border-radius:5px;}
.atc-heading-large{font-size:36px;line-height:42px;}
@media (min-width:768px){.atc-heading-large{font-size:52px;line-height:64px;}
}
.atc-link-muted,
.atc-link-muted a{color:#444;}
.atc-link-muted:hover,
.atc-link-muted a:hover{color:#444;}
.atc-link-reset,
.atc-link-reset a,
.atc-link-reset:hover,
.atc-link-reset a:hover,
.atc-link-reset:focus,
.atc-link-reset a:focus{color:inherit;text-decoration:none;}
.atc-scrollable-text{height:300px;overflow-y:scroll;-webkit-overflow-scrolling:touch;resize:both;}
.atc-scrollable-box{box-sizing:border-box;height:170px;padding:10px;border:1px solid #ddd;overflow:auto;-webkit-overflow-scrolling:touch;resize:both;}
.atc-scrollable-box >:last-child{margin-bottom:0;}
.atc-overflow-hidden{overflow:hidden;}
.atc-overflow-container{overflow:auto;-webkit-overflow-scrolling:touch;}
.atc-overflow-container >:last-child{margin-bottom:0;}
.atc-position-absolute,
[class*='atc-position-top'],
[class*='atc-position-bottom']{position:absolute !important;}
.atc-position-top{top:0;left:0;right:0;}
.atc-position-bottom{bottom:0;left:0;right:0;}
.atc-position-top-left{top:0;left:0;}
.atc-position-top-right{top:0;right:0;}
.atc-position-bottom-left{bottom:0;left:0;}
.atc-position-bottom-right{bottom:0;right:0;}
.atc-position-cover{position:absolute;top:0;bottom:0;left:0;right:0;}
.atc-position-relative{position:relative !important;}
.atc-position-z-index{z-index:1;}
.atc-display-block{display:block !important;}
.atc-display-inline{display:inline !important;}
.atc-display-inline-block{display:inline-block !important;max-width:100%;}
@media (min-width:960px){.atc-visible-small{display:none !important;}
.atc-visible-medium{display:none !important;}
.atc-hidden-large{display:none !important;}
}
@media (min-width:768px) and (max-width:959px){.atc-visible-small{display:none !important;}
.atc-visible-large{display:none !important;}
.atc-hidden-medium{display:none !important;}
}
@media (max-width:767px){.atc-visible-medium{display:none !important;}
.atc-visible-large{display:none !important;}
.atc-hidden-small{display:none !important;}
}
.atc-hidden{display:none !important;visibility:hidden !important;}
.atc-invisible{visibility:hidden !important;}
.atc-visible-hover:hover .atc-hidden,
.atc-visible-hover:hover .atc-invisible{display:block !important;visibility:visible !important;}
.atc-visible-hover-inline:hover .atc-hidden,
.atc-visible-hover-inline:hover .atc-invisible{display:inline-block !important;visibility:visible !important;}
.atc-touch .atc-hidden-touch,
.atc-notouch .atc-hidden-notouch{display:none !important;}
.atc-grid{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin:0;padding:0;list-style:none;}
.atc-grid:before,
.atc-grid:after{content:"";display:block;overflow:hidden;}
.atc-grid:after{clear:both;}
.atc-grid > *{-ms-flex:none;-webkit-flex:none;flex:none;margin:0;float:left;}
.atc-grid > * >:last-child{margin-bottom:0;}
.atc-grid{margin-left:-25px;}
.atc-grid > *{padding-left:25px;}
.atc-grid + .atc-grid,
.atc-grid-margin,
.atc-grid > * > .atc-panel + .atc-panel{margin-top:25px;}
@media (min-width:1220px){.atc-grid{margin-left:-35px;}
.atc-grid > *{padding-left:35px;}
.atc-grid + .atc-grid,
.atc-grid-margin,
.atc-grid > * > .atc-panel + .atc-panel{margin-top:35px;}
}
.atc-grid-collapse{margin-left:0;}
.atc-grid-collapse > *{padding-left:0;}
.atc-grid-collapse + .atc-grid-collapse,
.atc-grid-collapse > .atc-grid-margin,
.atc-grid-collapse > * > .atc-panel + .atc-panel{margin-top:0;}
.atc-grid-small{margin-left:-10px;}
.atc-grid-small > *{padding-left:10px;}
.atc-grid-small + .atc-grid-small,
.atc-grid-small > .atc-grid-margin,
.atc-grid-small > * > .atc-panel + .atc-panel{margin-top:10px;}
.atc-grid-medium{margin-left:-25px;}
.atc-grid-medium > *{padding-left:25px;}
.atc-grid-medium + .atc-grid-medium,
.atc-grid-medium > .atc-grid-margin,
.atc-grid-medium > * > .atc-panel + .atc-panel{margin-top:25px;}
@media (min-width:960px){.atc-grid-large{margin-left:-35px;}
.atc-grid-large > *{padding-left:35px;}
.atc-grid-large + .atc-grid-large,
.atc-grid-large-margin,
.atc-grid-large > * > .atc-panel + .atc-panel{margin-top:35px;}
}
@media (min-width:1220px){.atc-grid-large{margin-left:-50px;}
.atc-grid-large > *{padding-left:50px;}
.atc-grid-large + .atc-grid-large,
.atc-grid-large-margin,
.atc-grid-large > * > .atc-panel + .atc-panel{margin-top:50px;}
}
.atc-grid-divider:not(:empty){margin-left:-25px;margin-right:-25px;}
.atc-grid-divider > *{padding-left:25px;padding-right:25px;}
.atc-grid-divider > [class*='atc-width-1-']:not(.atc-width-1-1):nth-child(n+2),
.atc-grid-divider > [class*='atc-width-2-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-3-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-4-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-5-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-6-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-7-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-8-']:nth-child(n+2),
.atc-grid-divider > [class*='atc-width-9-']:nth-child(n+2){border-left:1px solid #ddd;}
@media (min-width:768px){.atc-grid-divider > [class*='atc-width-medium-']:not(.atc-width-medium-1-1):nth-child(n+2){border-left:1px solid #ddd;}
}
@media (min-width:960px){.atc-grid-divider > [class*='atc-width-large-']:not(.atc-width-large-1-1):nth-child(n+2){border-left:1px solid #ddd;}
}
@media (min-width:1220px){.atc-grid-divider:not(:empty){margin-left:-35px;margin-right:-35px;}
.atc-grid-divider > *{padding-left:35px;padding-right:35px;}
.atc-grid-divider:empty{margin-top:35px;margin-bottom:35px;}
}
.atc-grid-divider:empty{margin-top:25px;margin-bottom:25px;border-top:1px solid #ddd;}
.atc-grid-match > *{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.atc-grid-match > * > *{-ms-flex:none;-webkit-flex:none;flex:none;box-sizing:border-box;width:100%;}
[class*='atc-grid-width'] > *{box-sizing:border-box;width:100%;}
.atc-grid-width-1-2 > *{width:50%;}
.atc-grid-width-1-3 > *{width:33.333%;}
.atc-grid-width-1-4 > *{width:25%;}
.atc-grid-width-1-5 > *{width:20%;}
.atc-grid-width-1-6 > *{width:16.666%;}
.atc-grid-width-1-10 > *{width:10%;}
.atc-grid-width-auto > *{width:auto;}
@media (min-width:480px){.atc-grid-width-small-1-1 > *{width:100%;}
.atc-grid-width-small-1-2 > *{width:50%;}
.atc-grid-width-small-1-3 > *{width:33.333%;}
.atc-grid-width-small-1-4 > *{width:25%;}
.atc-grid-width-small-1-5 > *{width:20%;}
.atc-grid-width-small-1-6 > *{width:16.666%;}
.atc-grid-width-small-1-10 > *{width:10%;}
}
@media (min-width:768px){.atc-grid-width-medium-1-1 > *{width:100%;}
.atc-grid-width-medium-1-2 > *{width:50%;}
.atc-grid-width-medium-1-3 > *{width:33.333%;}
.atc-grid-width-medium-1-4 > *{width:25%;}
.atc-grid-width-medium-1-5 > *{width:20%;}
.atc-grid-width-medium-1-6 > *{width:16.666%;}
.atc-grid-width-medium-1-10 > *{width:10%;}
}
@media (min-width:960px){.atc-grid-width-large-1-1 > *{width:100%;}
.atc-grid-width-large-1-2 > *{width:50%;}
.atc-grid-width-large-1-3 > *{width:33.333%;}
.atc-grid-width-large-1-4 > *{width:25%;}
.atc-grid-width-large-1-5 > *{width:20%;}
.atc-grid-width-large-1-6 > *{width:16.666%;}
.atc-grid-width-large-1-10 > *{width:10%;}
}
@media (min-width:1220px){.atc-grid-width-xlarge-1-1 > *{width:100%;}
.atc-grid-width-xlarge-1-2 > *{width:50%;}
.atc-grid-width-xlarge-1-3 > *{width:33.333%;}
.atc-grid-width-xlarge-1-4 > *{width:25%;}
.atc-grid-width-xlarge-1-5 > *{width:20%;}
.atc-grid-width-xlarge-1-6 > *{width:16.666%;}
.atc-grid-width-xlarge-1-10 > *{width:10%;}
}
[class*='atc-width']{box-sizing:border-box;width:100%;}
.atc-width-1-1{width:100%;}
.atc-width-1-2,
.atc-width-2-4,
.atc-width-3-6,
.atc-width-5-10{width:50%;}
.atc-width-1-3,
.atc-width-2-6{width:33.333%;}
.atc-width-2-3,
.atc-width-4-6{width:66.666%;}
.atc-width-1-4{width:25%;}
.atc-width-3-4{width:75%;}
.atc-width-1-5,
.atc-width-2-10{width:20%;}
.atc-width-2-5,
.atc-width-4-10{width:40%;}
.atc-width-3-5,
.atc-width-6-10{width:60%;}
.atc-width-4-5,
.atc-width-8-10{width:80%;}
.atc-width-1-6{width:16.666%;}
.atc-width-5-6{width:83.333%;}
.atc-width-1-10{width:10%;}
.atc-width-3-10{width:30%;}
.atc-width-7-10{width:70%;}
.atc-width-9-10{width:90%;}
@media (min-width:480px){.atc-width-small-1-1{width:100%;}
.atc-width-small-1-2,
.atc-width-small-2-4,
.atc-width-small-3-6,
.atc-width-small-5-10{width:50%;}
.atc-width-small-1-3,
.atc-width-small-2-6{width:33.333%;}
.atc-width-small-2-3,
.atc-width-small-4-6{width:66.666%;}
.atc-width-small-1-4{width:25%;}
.atc-width-small-3-4{width:75%;}
.atc-width-small-1-5,
.atc-width-small-2-10{width:20%;}
.atc-width-small-2-5,
.atc-width-small-4-10{width:40%;}
.atc-width-small-3-5,
.atc-width-small-6-10{width:60%;}
.atc-width-small-4-5,
.atc-width-small-8-10{width:80%;}
.atc-width-small-1-6{width:16.666%;}
.atc-width-small-5-6{width:83.333%;}
.atc-width-small-1-10{width:10%;}
.atc-width-small-3-10{width:30%;}
.atc-width-small-7-10{width:70%;}
.atc-width-small-9-10{width:90%;}
}
@media (min-width:768px){.atc-width-medium-1-1{width:100%;}
.atc-width-medium-1-2,
.atc-width-medium-2-4,
.atc-width-medium-3-6,
.atc-width-medium-5-10{width:50%;}
.atc-width-medium-1-3,
.atc-width-medium-2-6{width:33.333%;}
.atc-width-medium-2-3,
.atc-width-medium-4-6{width:66.666%;}
.atc-width-medium-1-4{width:25%;}
.atc-width-medium-3-4{width:75%;}
.atc-width-medium-1-5,
.atc-width-medium-2-10{width:20%;}
.atc-width-medium-2-5,
.atc-width-medium-4-10{width:40%;}
.atc-width-medium-3-5,
.atc-width-medium-6-10{width:60%;}
.atc-width-medium-4-5,
.atc-width-medium-8-10{width:80%;}
.atc-width-medium-1-6{width:16.666%;}
.atc-width-medium-5-6{width:83.333%;}
.atc-width-medium-1-10{width:10%;}
.atc-width-medium-3-10{width:30%;}
.atc-width-medium-7-10{width:70%;}
.atc-width-medium-9-10{width:90%;}
}
@media (min-width:960px){.atc-width-large-1-1{width:100%;}
.atc-width-large-1-2,
.atc-width-large-2-4,
.atc-width-large-3-6,
.atc-width-large-5-10{width:50%;}
.atc-width-large-1-3,
.atc-width-large-2-6{width:33.333%;}
.atc-width-large-2-3,
.atc-width-large-4-6{width:66.666%;}
.atc-width-large-1-4{width:25%;}
.atc-width-large-3-4{width:75%;}
.atc-width-large-1-5,
.atc-width-large-2-10{width:20%;}
.atc-width-large-2-5,
.atc-width-large-4-10{width:40%;}
.atc-width-large-3-5,
.atc-width-large-6-10{width:60%;}
.atc-width-large-4-5,
.atc-width-large-8-10{width:80%;}
.atc-width-large-1-6{width:16.666%;}
.atc-width-large-5-6{width:83.333%;}
.atc-width-large-1-10{width:10%;}
.atc-width-large-3-10{width:30%;}
.atc-width-large-7-10{width:70%;}
.atc-width-large-9-10{width:90%;}
}
@media (min-width:1220px){.atc-width-xlarge-1-1{width:100%;}
.atc-width-xlarge-1-2,
.atc-width-xlarge-2-4,
.atc-width-xlarge-3-6,
.atc-width-xlarge-5-10{width:50%;}
.atc-width-xlarge-1-3,
.atc-width-xlarge-2-6{width:33.333%;}
.atc-width-xlarge-2-3,
.atc-width-xlarge-4-6{width:66.666%;}
.atc-width-xlarge-1-4{width:25%;}
.atc-width-xlarge-3-4{width:75%;}
.atc-width-xlarge-1-5,
.atc-width-xlarge-2-10{width:20%;}
.atc-width-xlarge-2-5,
.atc-width-xlarge-4-10{width:40%;}
.atc-width-xlarge-3-5,
.atc-width-xlarge-6-10{width:60%;}
.atc-width-xlarge-4-5,
.atc-width-xlarge-8-10{width:80%;}
.atc-width-xlarge-1-6{width:16.666%;}
.atc-width-xlarge-5-6{width:83.333%;}
.atc-width-xlarge-1-10{width:10%;}
.atc-width-xlarge-3-10{width:30%;}
.atc-width-xlarge-7-10{width:70%;}
.atc-width-xlarge-9-10{width:90%;}
}
@media (min-width:768px){[class*='atc-push-'],
[class*='atc-pull-']{position:relative;}
.atc-push-1-2,
.atc-push-2-4,
.atc-push-3-6,
.atc-push-5-10{left:50%;}
.atc-push-1-3,
.atc-push-2-6{left:33.333%;}
.atc-push-2-3,
.atc-push-4-6{left:66.666%;}
.atc-push-1-4{left:25%;}
.atc-push-3-4{left:75%;}
.atc-push-1-5,
.atc-push-2-10{left:20%;}
.atc-push-2-5,
.atc-push-4-10{left:40%;}
.atc-push-3-5,
.atc-push-6-10{left:60%;}
.atc-push-4-5,
.atc-push-8-10{left:80%;}
.atc-push-1-6{left:16.666%;}
.atc-push-5-6{left:83.333%;}
.atc-push-1-10{left:10%;}
.atc-push-3-10{left:30%;}
.atc-push-7-10{left:70%;}
.atc-push-9-10{left:90%;}
.atc-pull-1-2,
.atc-pull-2-4,
.atc-pull-3-6,
.atc-pull-5-10{left:-50%;}
.atc-pull-1-3,
.atc-pull-2-6{left:-33.333%;}
.atc-pull-2-3,
.atc-pull-4-6{left:-66.666%;}
.atc-pull-1-4{left:-25%;}
.atc-pull-3-4{left:-75%;}
.atc-pull-1-5,
.atc-pull-2-10{left:-20%;}
.atc-pull-2-5,
.atc-pull-4-10{left:-40%;}
.atc-pull-3-5,
.atc-pull-6-10{left:-60%;}
.atc-pull-4-5,
.atc-pull-8-10{left:-80%;}
.atc-pull-1-6{left:-16.666%;}
.atc-pull-5-6{left:-83.333%;}
.atc-pull-1-10{left:-10%;}
.atc-pull-3-10{left:-30%;}
.atc-pull-7-10{left:-70%;}
.atc-pull-9-10{left:-90%;}
}
.atc-flex{display:-ms-flexbox;display:-webkit-flex;display:flex;}
.atc-flex-inline{display:-ms-inline-flexbox;display:-webkit-inline-flex;display:inline-flex;}
.atc-flex > *,
.atc-flex-inline > *{-ms-flex-negative:1;}
.atc-flex-top{-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;}
.atc-flex-middle{-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.atc-flex-bottom{-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end;}
.atc-flex-center{-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}
.atc-flex-right{-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.atc-flex-space-between{-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.atc-flex-space-around{-ms-flex-pack:distribute;-webkit-justify-content:space-around;justify-content:space-around;}
.atc-flex-row-reverse{-ms-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;flex-direction:row-reverse;}
.atc-flex-column{-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;}
.atc-flex-column-reverse{-ms-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;flex-direction:column-reverse;}
.atc-flex-nowrap{-ms-flex-wrap:nowrap;-webkit-flex-wrap:nowrap;flex-wrap:nowrap;}
.atc-flex-wrap{-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.atc-flex-wrap-reverse{-ms-flex-wrap:wrap-reverse;-webkit-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse;}
.atc-flex-wrap-top{-ms-flex-line-pack:start;-webkit-align-content:flex-start;align-content:flex-start;}
.atc-flex-wrap-middle{-ms-flex-line-pack:center;-webkit-align-content:center;align-content:center;}
.atc-flex-wrap-bottom{-ms-flex-line-pack:end;-webkit-align-content:flex-end;align-content:flex-end;}
.atc-flex-wrap-space-between{-ms-flex-line-pack:justify;-webkit-align-content:space-between;align-content:space-between;}
.atc-flex-wrap-space-around{-ms-flex-line-pack:distribute;-webkit-align-content:space-around;align-content:space-around;}
.atc-flex-order-first{-ms-flex-order:-1;-webkit-order:-1;order:-1;}
.atc-flex-order-last{-ms-flex-order:99;-webkit-order:99;order:99;}
@media (min-width:480px){.atc-flex-order-first-small{-ms-flex-order:-1;-webkit-order:-1;order:-1;}
.atc-flex-order-last-small{-ms-flex-order:99;-webkit-order:99;order:99;}
}
@media (min-width:768px){.atc-flex-order-first-medium{-ms-flex-order:-1;-webkit-order:-1;order:-1;}
.atc-flex-order-last-medium{-ms-flex-order:99;-webkit-order:99;order:99;}
}
@media (min-width:960px){.atc-flex-order-first-large{-ms-flex-order:-1;-webkit-order:-1;order:-1;}
.atc-flex-order-last-large{-ms-flex-order:99;-webkit-order:99;order:99;}
}
@media (min-width:1220px){.atc-flex-order-first-xlarge{-ms-flex-order:-1;-webkit-order:-1;order:-1;}
.atc-flex-order-last-xlarge{-ms-flex-order:99;-webkit-order:99;order:99;}
}
.atc-flex-item-none{-ms-flex:none;-webkit-flex:none;flex:none;}
.atc-flex-item-auto{-ms-flex:auto;-webkit-flex:auto;flex:auto;-ms-flex-negative:1;}
.atc-flex-item-1{-ms-flex:1;-webkit-flex:1;flex:1;}
.atc-padding-10{padding:0 10px;}
.atc-add-to-cart-container{margin:5px;}
.atc-guarantee-container{padding:10px 10px;border-radius:12px;border:3px solid #ebe0af;background:#fff8d6;-webkit-box-shadow:0px 4px 5px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 4px 5px 1px rgba(0, 0, 0, 0.1);box-shadow:0px 4px 5px 1px rgba(0, 0, 0, 0.1);}
.atc-checkbox-area{margin:40px auto 20px auto;line-height:36px;font-size:1.6rem;}
.atc-checkbox-area img{max-width:40px;position:relative;top:4px;}
.atc-guarantee-container .atc-width-medium-1-4{justify-content:center;}
.atc-guarantee-container img{padding:10px;max-width:250px;margin-left:auto;margin-right:auto;height:auto;box-sizing:border-box;}
@media (min-width:768px){.atc-checkbox-area{max-width:700px;}
}
@media (max-width:767px){.atc-upgrade-order-button{font-size:26px !important;line-height:46px !important;padding:8px 0px !important;left:-13px;}
}
.atc-upgrade-order-container{text-align:center;margin:auto;}
.atc-upgrade-order-button{text-transform:uppercase;font-size:50px;line-height:75px;padding:10px 0px;width:100%;font-family:'Anton', sans-serif;background-repeat:repeat-x;background-image:url(../../s3.amazonaws.com/health7/All_Sites_Miscellaneous_Resources/bg_add_to_order_button.jpg);-webkit-box-shadow:0px 3px 7px 2px rgba(0, 0, 0, 0.08);-moz-box-shadow:0px 3px 7px 2px rgba(0, 0, 0, 0.08);box-shadow:0px 3px 7px 2px rgba(0, 0, 0, 0.08);border-radius:12px;border:4px solid #d8a41c;color:#0d294c;text-shadow:1px 1px 1px rgba(0,0,0,0.2);cursor:pointer;margin-top:20px;position:relative;}
.atc-upgrade-order-button:hover{-webkit-transform:scale(1.02);-ms-transform:scale(1.02);transform:scale(1.02);-webkit-transition:all .2s ease-out;transition:all .2s ease-out;}
.atc-check-image{align-self:flex-start;}
.atc-product-image img{max-width:100%;margin-top:30px;margin-left:auto;margin-right:auto;}
.atc-product-image > div{justify-content:center;}
.atc-guarantee-heading{font-weight:bold;font-size:20px;}
.atc-no-thanks{text-align:center;line-height:20px;font-size:18px;border-top:2px dashed #f0f0f0;margin-top:30px;padding-top:20px;}
.atc-no-thanks i{font-size:26px;position:relative;top:3px;line-height:inherit;}
.atc-no-thanks a::after{content:"\A";white-space:pre;}
.atc-no-thanks button{height:46px;line-height:34px;font-family:'Lora', serif;font-size:18px;color:#646464;font-weight:bold;background:#E1E1E1;border:2px solid #9F9F9F;text-decoration:none;margin-bottom:10px;margin-top:15px;padding:0px 46px;border-radius:8px;text-shadow:1px 1px 1px #F0F0F0;-webkit-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.17);-moz-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.17);box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.17);}
.atc-no-thanks button:hover{-webkit-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.27);-moz-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.27);box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.27);text-decoration:none;cursor:pointer;}
.atc-upgrade-order-text{color:#0000EE !important;font-size:24px;font-family:'Anton', sans-serif;text-decoration:none;}
@media (min-width:768px){.atc-starburst{height:120px;width:120px;background:url(../../s3.amazonaws.com/health7/All_Sites_Miscellaneous_Resources/atc-starburst-120.png);top:-45px;right:-20px;}
.atc-starburst-top{font-size:15px;margin-top:-14px;}
.atc-starburst-price{font-size:36px;}
}
@media (max-width:767px){.atc-starburst{height:80px;width:80px;background:url(../../s3.amazonaws.com/health7/All_Sites_Miscellaneous_Resources/atc-starburst-80.png);top:-18px;right:-35px;}
.atc-starburst-top{font-size:15px;margin-top:-14px;}
.atc-starburst-price{font-size:30px;}
}
.atc-yes-text{position:relative;left:-10px;}
.atc-starburst{transform:rotate(7deg);line-height:24px;display:flex;justify-content:center;flex-direction:column;}
.atc-upgrade-order-button{width:96% !important;text-decoration:none !important;}
.order-section a{text-decoration:none !important;}
.atc-button-upsell-0{left:0;}
.atc-starburst span{color:#0d294c !important;text-shadow:1px 1px 1px rgba(255,255,255,0.3);}
.atc-starburst-top{font-family:'Anton', sans-serif;}
.atc-starburst-price{font-family:'Anton', sans-serif;}
.atc-modal-image{padding:0 5px;}
.atc-stay-continue-reading{border-radius:6px;line-height:60px !important;font-size:26px !important;}
.atc-exit-close{position:absolute;top:-8px;right:-8px;cursor:pointer;}
.atc-modal-title{position:relative;}
.atc-exit-close img{max-width:30px;}
#atc-ouibounce-model{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999992 !important;}
#atc-ouibounce-model h1{font-size:32px;}
#atc-ouibounce-model .atc-underlay{width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.5);cursor:pointer;-webkit-animation:fadein 0.5s;animation:fadein 0.5s;}
#atc-ouibounce-model .atc-model{max-width:600px;height:420px;background-color:#fff;z-index:13;position:absolute;margin:auto;top:0;right:0;bottom:0;left:0;border-radius:4px;-webkit-animation:popin 0.3s;animation:popin 0.3s;}
#atc-ouibounce-model .atc-model-title{font-size:18px;background-color:#ff6700;color:#fff;padding:10px;margin:0;border-radius:4px 4px 0 0;text-align:center;}
#atc-ouibounce-model h3{color:#fff;font-size:1.2em;line-height:1.6em;font-weight:500;}
#atc-ouibounce-model .atc-model-body{padding:20px;font-size:16px;line-height:20px;}
#atc-ouibounce-model p{color:#344a5f;line-height:1.3em;}
#atc-ouibounce-model form{text-align:center;margin-top:35px;}
#atc-ouibounce-model form input[type=text]{padding:12px;font-size:1.2em;width:300px;border-radius:4px;border:1px solid #ccc;-webkit-font-smoothing:antialiased;}
#atc-ouibounce-model form input[type=submit]{text-transform:uppercase;font-weight:bold;padding:12px;font-size:1.1em;border-radius:4px;color:#fff;background-color:#4ab471;border:none;cursor:pointer;-webkit-font-smoothing:antialiased;}
#atc-ouibounce-model form p{text-align:left;margin-left:35px;opacity:0.8;margin-top:1px;padding-top:1px;font-size:0.9em;}
#atc-ouibounce-model .atc-model-footer{position:absolute;bottom:20px;text-align:center;width:100%;}
#atc-ouibounce-model .atc-model-footer p{text-transform:capitalize;cursor:pointer;display:inline;border-bottom:1px solid #344a5f;}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){#ouibounce-model{position:absolute !important;}
#ouibounce-model .model{position:relative !important;margin-top:5% !important;}
}
@-webkit-keyframes fadein{0%{opacity:0;}
100%{opacity:1;}
}
@-ms-keyframes fadein{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadein{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes popin{0%{-webkit-transform:scale(0);transform:scale(0);opacity:0;}
85%{-webkit-transform:scale(1.05);transform:scale(1.05);opacity:1;}
100%{-webkit-transform:scale(1);transform:scale(1);opacity:1;}
}
@-ms-keyframes popin{0%{-ms-transform:scale(0);transform:scale(0);opacity:0;}
85%{-ms-transform:scale(1.05);transform:scale(1.05);opacity:1;}
100%{-ms-transform:scale(1);transform:scale(1);opacity:1;}
}
@keyframes popin{0%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:0;}
85%{-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);opacity:1;}
100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;}
}
.uk-exit-no-thanks button{font-size:18px;}
.uk-modal-subtitle{background:rgb(127,127,127);background:-moz-linear-gradient(top, rgba(127,127,127,1) 1%, rgba(163,163,163,1) 100%);background:-webkit-linear-gradient(top, rgba(127,127,127,1) 1%,rgba(163,163,163,1) 100%);background:linear-gradient(to bottom, rgba(127,127,127,1) 1%,rgba(163,163,163,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7f7f', endColorstr='#a3a3a3',GradientType=0);font-size:18px;text-align:center;line-height:34px;color:#fff}
#ouibounce-model .hand_icon{max-width:50px;margin-right:5px;position:relative;top:-5px;}
#ouibounce-model .modal-title h1{font-family:Oswald,sans-serif;}
.uk-text-oswald{font-family:'Oswald', sans-serif !important;}
.top-sticky-bar{background:#fff;z-index:50;position:fixed;top:0px;margin-right:auto;margin-left:auto;-webkit-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.01);-moz-box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.01);box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.01);}
@media (min-width:768px){.top-sticky-steps-image{max-width:450px;}
}
@media (max-width:767px){.top-sticky-steps-image{max-width:100%;}
}
@media (min-width:768px){.supplement-intro{background:url(upsell_0_bg_supplement_intro.jpg) no-repeat bottom center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.supplement-body{background:url(upsell_0_bg_supplement_body.jpg) no-repeat right center;-webkit-box-shadow:inset 0px 5px 14px 0px rgba(0, 0, 0, 0.32);-moz-box-shadow:inset 0px 5px 14px 0px rgba(0, 0, 0, 0.32);box-shadow:inset 0px 5px 14px 0px rgba(0, 0, 0, 0.32);}
}
@media (max-width:767px){.supplement-intro{background:url(upsell_0_bg_supplement_intro.jpg) no-repeat bottom right;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
}
.supplement-plus-h3{padding:30px;background:rgba(255,255,255,0.8);}
@media (min-width:768px){.supplements-section-ryan{position:relative;bottom:-6px;right:-40px;}
.supplement-plus-h3{-webkit-border-top-left-radius:15px;-webkit-border-bottom-left-radius:15px;-moz-border-radius-topleft:15px;-moz-border-radius-bottomleft:15px;border-top-left-radius:15px;border-bottom-left-radius:15px;-webkit-box-shadow:-3px 4px 19px 0px rgba(50, 50, 50, 0.2);-moz-box-shadow:-3px 4px 19px 0px rgba(50, 50, 50, 0.2);box-shadow:-3px 4px 19px 0px rgba(50, 50, 50, 0.2);}
}
@media (max-width:767px){.supplements-section-ryan{max-width:250px;min-width:250px;}
}
.telomeres p{font-size:20px;line-height:1.5em !important;text-shadow:1px 1px 1px #fff;}
.fancy_checkbox_container .label__checkbox{-ms-transform:scale(2.5);-moz-transform:scale(2.5);-webkit-transform:scale(2.5);-o-transform:scale(2.5);}
.fancy_check_yes_text{font-size:26px;line-height:34px;}
.add_physical_version .not_bold{font-weight:normal !important;}
.add_physical_version{transition:background-color 0.5s ease;padding:30px;border-radius:15px;background-color:#f3f3f3;border:5px dashed #E7E7E7;}
.add_physical_version:hover{padding:30px;border-radius:15px;background-color:#E7E7E7;border:5px dashed #f3f3f3;}
.fancy_check_yes_text:hover{cursor:pointer;}
.uk-padding-10{padding:0 10px;}
.fancy_add_border_bottom{border-bottom:3px solid #00d478;padding-bottom:5px;}
.add_physical_version.add_physical_version_green{border:5px dashed #00d478 !important;background-color:#00834A;}
.fancy_check_update_total{font-size:30px;position:relative;top:4px;}
@media (min-width:768px){.physical_order_image{margin-left:-70px;min-width:300px !important;position:relative;top:10px;}
}
.atc-starburst sup{position:relative;top:-14px;font-size:15px;}
.spark_footer_icons{text-align:center !important;margin:35px auto 25px !important;}
.spark_footer_icons img{max-width:500px !important;}
#official-names-container-vsl{margin:10px auto 35px;width:100%;max-width:700px;border:thin solid #141516;padding:1px;background:#F9F9F9;}
#official-names-container-vsl .official-names-header{text-align:center;padding:5px 0;color:#fff;font-weight:bold;}
#official-names-container-vsl .official-names-footer{text-align:center;font-size:14px;font-weight:100;color:#949494;border-top:thin solid #ccc;padding:7px 0 5px;font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";background:rgb(255,255,255);background:-webkit-linear-gradient(rgba(255,255,255,1) 9%, rgba(237,237,237,1) 45%, rgba(237,237,237,1) 45%, rgba(237,237,237,1) 57%, rgba(224,224,224,1) 60%, rgba(237,237,237,1) 89%, rgba(254,254,254,1) 98%);background:-o-linear-gradient(rgba(255,255,255,1) 9%, rgba(237,237,237,1) 45%, rgba(237,237,237,1) 45%, rgba(237,237,237,1) 57%, rgba(224,224,224,1) 60%, rgba(237,237,237,1) 89%, rgba(254,254,254,1) 98%);background:linear-gradient(rgba(255,255,255,1) 9%, rgba(237,237,237,1) 45%, rgba(237,237,237,1) 45%, rgba(237,237,237,1) 57%, rgba(224,224,224,1) 60%, rgba(237,237,237,1) 89%, rgba(254,254,254,1) 98%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0);}
#official-names-container-vsl .official-names-footer img{max-height:23px;}
#official-names-container-vsl .official-names-list{padding:15px;overflow:hidden;position:relative;width:100%;}
#official-names-container-vsl .official-names-list ul{list-style-type:none;font-size:13px;-moz-column-count:2;-webkit-column-count:2;column-count:2;}
#official-names-container-vsl .official-names-list ul li{margin-bottom:2px;}
#official-names-container-vsl .official-names-scroll{width:100%;}
#official-names-container-vsl .box{margin:3em auto;padding:2em;width:15em;height:3em;position:relative;overflow:hidden;top:1em;background-color:#FFF;box-shadow:7px 5px 4px rgba(0,0,0,0.5);border:1px solid black;border-radius:2px;}
@keyframes "scroll"{from{top:370px;}
to{top:-6000px;}
}
@-moz-keyframes scroll{from{top:370px;}
to{top:-6000px;}
}
@-webkit-keyframes "scroll"{from{top:370px;}
to{top:-6000px;}
}
@-ms-keyframes "scroll"{from{top:370px;}
to{top:-6000px;}
}
@-o-keyframes "scroll"{from{top:370px;}
to{top:-6000px;}
}
#official-names-container-vsl .orb_buyers_list{padding:10px;text-transform:capitalize;}
#official-names-container-vsl .official-names-scroll{position:absolute;-webkit-animation:scroll 360s linear infinite;-moz-animation:scroll 360s linear infinite;-ms-animation:scroll 360s linear infinite;-o-animation:scroll 360s linear infinite;animation:scroll 360s linear infinite;}
#data_footer_disclaimer #data_email_disclaimer_modal{z-index:9 !important;}
#data_footer_disclaimer #data_email_disclaimer_modal .uk-modal-dialog{font-size:14px;text-align:left;line-height:18px;}
#data_footer_disclaimer #data_email_disclaimer_modal .uk-modal-close{font-size:12px;}
#data_footer_disclaimer #data_email_disclaimer_modal .uk-modal-dialog a:hover{text-decoration:none;}
#data_footer_disclaimer #data_email_disclaimer_modal .uk-modal-close:hover{cursor:pointer;}
#data_footer_disclaimer #data_email_disclaimer_modal .uk-modal-footer{text-align:right;}
#data_footer_disclaimer #data_email_disclaimer_modal .uk-modal-header{font-size:16px;font-weight:bold;}
.buygoods_quiz_disclaimer{text-align:center;padding-top:10px;font-size:12px;font-style:italic;}
.upsell_steps_container{padding:10px 0;max-width:1200px;margin:auto;}
.upsell_steps_container p{text-align:center;}
.upsell_steps_container img{width:100%;}
@media (max-width:767px){.upsell_steps_container p:first-of-type{display:none;}
}
@media (min-width:768px){.upsell_steps_container .steps_image_mobile{display:none;}
}
.upsell_counter_redirect_container .countdown, .upsell_counter_redirect_container .countdown.countdown2{position:relative;max-width:190px;margin:15px auto 15px;}
.upsell_counter_redirect_container .counter_expires_in{background:#9e2c2c;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.3);font-style:italic;}
.upsell_counter_redirect_container .uk-grid-small{margin-left:0px;}
.upsell_counter_redirect_container canvas{display:inline-block;vertical-align:baseline;}
.upsell_counter_redirect_container h2.actnow{display:none;text-align:center;color:#cb1400;padding:6px 5px 6px;-webkit-transform:translateY(5px);-ms-transform:translateY(5px);transform:translateY(5px);text-shadow:0 1px 2px rgba(0,0,0,.5);margin-top:10px;}
.upsell_counter_redirect_container .flash{-webkit-animation:a 1s infinite;animation:a 1s infinite;}
.upsell_counter_redirect_container .uk-active.uk-sticky{z-index:3;}
.upsell_counter_redirect_container .grey-bg{background-color:#EFEFEF;}
.upsell_counter_redirect_container .uk-grid > *{padding-left:0px !important;}
@media (max-width:960px){.upsell_counter_redirect_container .uk-active.uk-sticky{z-index:3;position:absolute;width:100% !important;left:0;}
.upsell_counter_redirect_container .countdown, .countdown.countdown2{max-width:140px;margin:15px auto 15px;}
}
@media (max-width:767px){.upsell_counter_redirect_container .uk-active.uk-sticky canvas,
.upsell_counter_redirect_container .uk-active.uk-sticky .countdown{width:125px;}
.upsell_counter_redirect_container .uk-sticky:not(.uk-active) .time-up-text-small{display:none;}
.upsell_counter_redirect_container .uk-active.uk-sticky .uk-grid{margin-left:-30px;margin-right:-30px;}
.upsell_counter_redirect_container .uk-active.uk-sticky .countdown{top:-15px;margin:auto !important;margin-right:20% !important;}
.upsell_counter_redirect_container .time-up-text-small{top:13px;left:30px;position:relative;}
.upsell_counter_redirect_container [class*='uk-width'].grey-bg{-webkit-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.22);-moz-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.22);box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.22);}
.upsell_counter_redirect_container .uk-active.uk-sticky .offer-text-fix{display:none;}
}
@media (min-width:960px){.upsell_counter_redirect_container .uk-sticky.uk-active .uk-grid{height:50px;}
.upsell_counter_redirect_container .uk-active.uk-sticky .radius-right{-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomright:8px;border-bottom-right-radius:8px;}
.upsell_counter_redirect_container .uk-active.uk-sticky .radius-left{-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-bottom-left-radius:8px;-moz-border-radius-bottomleft:8px;border-bottom-left-radius:8px;}
.upsell_counter_redirect_container .uk-sticky:not(.uk-active) .radius-left{-webkit-border-top-left-radius:10px;-webkit-border-bottom-left-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-bottomleft:10px;border-top-left-radius:10px;border-bottom-left-radius:10px;}
.upsell_counter_redirect_container .uk-sticky:not(.uk-active) .radius-right{-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius-topright:10px;-moz-border-radius-bottomright:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;}
}
body.counter_remove_radius .upsell_counter_redirect_container .uk-sticky:not(.uk-active) .radius-left,
body.counter_remove_radius .upsell_counter_redirect_container .uk-sticky:not(.uk-active) .radius-right{border-radius:0;}
@media (max-width:439px){.upsell_counter_redirect_container .uk-sticky.uk-active .countdown{text-align:right;width:110px;top:-13px;margin-right:40% !important;}
.upsell_counter_redirect_container .time-up-text-small{left:10px;}
}